// ********* DESIGN SYSTEM *********

// ************ COLORS ************
$color-antique-white: #f8e9dd;
$color-sunrise-orange: #ec755d;
$color-white: #fff;
$color-brown-tumbleweed: #382314;
$color-neptune: #76b5bc;
$color-stonewall: #92857a;
$color-soapstone: #fffbf6;
$color-powder-blue: #b4e0e5;
$color-peachy-pink: #ff9b86;

// ********** FONT-FAMILY **********
$font-dm-sans: "DM Sans", serif;

// ********* FONT-WEIGHTS *********
$fw-bold: 700;

// ************ VARIABLES ************
$responsive-28px-33px: clamp(
  2.8rem,
  calc(2.8rem + (5 * ((100vw - 32rem) / 55))),
  3.3rem
);

$responsive-118px-151px: clamp(
  11.8rem,
  calc(11.8rem + (33 * ((100vw - 32rem) / 55))),
  15.1rem
);

// ************* BASE *************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $color-antique-white;
  font-family: $font-dm-sans;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}

// ********* MOBILE LAYOUTS *********

// ********** 375px LAYOUT **********

// ************** APP **************
.app {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

// ************* BALANCE *************
.balance {
  background: $color-sunrise-orange;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: $responsive-118px-151px;
  padding: 2rem 2.4rem 2.2rem 2rem;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  &__label {
    color: $color-white;
    font-size: 1.5rem;
  }

  &__number {
    color: $color-white;
    font-size: 2.4rem;
    font-weight: $fw-bold;
  }

  &__logo {
    display: block;
    width: 6rem;
    height: 4rem;
  }
}

// ************ SPENDING ************
.spending {
  border-radius: 1rem;
  background: $color-soapstone;
  padding: 2.4rem 2rem;

  &__label {
    color: $color-brown-tumbleweed;
    font-size: 2.4rem;
    font-weight: $fw-bold;
    margin-bottom: 5.2rem;
  }

  &__chart {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 2.4rem;
  }

  &__expense-bar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1.1rem;
  }

  &__expense {
    width: 7.5rem;
    height: 4rem;
    border-radius: 0.5rem;
    background: $color-brown-tumbleweed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-soapstone;
    font-size: 1.8rem;
    font-weight: $fw-bold;
  }

  &__bar {
    width: $responsive-28px-33px;
    border-radius: 0.3rem;
    background: $color-sunrise-orange;
    cursor: pointer;

    &:hover {
      background: $color-peachy-pink;
    }

    &.color-neptune-bg:hover {
      background: $color-powder-blue;
    }
  }

  &__day {
    color: $color-stonewall;
    font-size: 1.2rem;
  }
}

// ************* TOTAL *************
.total {
  border-top: 0.2rem solid $color-antique-white;
  border-radius: 0.1rem;
  padding-top: 2.4rem;
  display: flex;
  justify-content: space-between;

  &__this-month {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  &__label {
    color: $color-stonewall;
    font-size: 1.5rem;
  }

  &__spent {
    color: $color-brown-tumbleweed;
    font-size: 3rem;
    font-weight: $fw-bold;
  }

  &__last-month {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__percentage {
    color: $color-brown-tumbleweed;
    font-size: 1.5rem;
    font-weight: $fw-bold;
    text-align: right;
  }
}

// ******** 600px MEDIA QUERY ********
@media only screen and (min-width: 37.5em) {
  // ************** APP **************
  .app {
    gap: 2.4rem;
  }

  // ************ BALANCE ************
  .balance {
    border-radius: 2rem;
    gap: 28.4rem;
    padding: 2.7rem 3.9rem 2.5rem 3.2rem;

    &__info {
      gap: 0.8rem;
    }

    &__label {
      font-size: 1.8rem;
    }

    &__number {
      font-size: 3.2rem;
    }

    &__logo {
      width: 7.2rem;
      height: 4.8rem;
    }
  }

  // ************ SPENDING ************
  .spending {
    border-radius: 2rem;
    padding: 3.2rem 4rem 4rem;

    &__label {
      font-size: 3.2rem;
      margin-bottom: 6.6rem;
    }
  }
}

// ********* DYNAMIC STYLES *********
.color-neptune-bg {
  background: $color-neptune;
}
