// ********* DESIGN SYSTEM *********

// ************ COLORS ************
$color-antique-white: #f8e9dd;
$color-sunrise-orange: #ec755d;
$color-white: #fff;
$color-brown-tumbleweed: #382314;
$color-neptune: #76b5bc;
$color-stonewall: #92857a;
$color-soapstone: #fffbf6;

// ********** FONT-FAMILY **********
$font-dm-sans: "DM Sans", serif;

// ********* FONT-WEIGHTS *********
$fw-bold: 700;

// ************* BASE *************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $color-antique-white;
  font-family: $font-dm-sans;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}

// ********* MOBILE LAYOUTS *********

// ********** 375px LAYOUT **********

// ************** APP **************
.app {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

// ************* BALANCE *************
.balance {
  background: $color-sunrise-orange;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 15.1rem;
  padding: 2rem 2.4rem 2.2rem 2rem;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  &__label {
    color: $color-white;
    font-size: 1.5rem;
  }

  &__number {
    color: $color-white;
    font-size: 2.4rem;
    font-weight: $fw-bold;
  }

  &__logo {
    display: block;
    width: 6rem;
    height: 4rem;
  }
}

// ************ SPENDING ************
.spending {
  border-radius: 1rem;
  background: $color-soapstone;
  padding: 2.4rem 2rem;

  &__label {
    color: $color-brown-tumbleweed;
    font-size: 2.4rem;
    font-weight: $fw-bold;
    margin-bottom: 5.2rem;
  }
}
