// ********* DESIGN SYSTEM *********

// ************ COLORS ************
$color-antique-white: #f8e9dd;
$color-sunrise-orange: #ec755d;
$color-white: #fff;
$color-brown-tumbleweed: #382314;
$color-neptune: #76b5bc;
$color-stonewall: #92857a;
$color-soapstone: #fffbf6;
$color-powder-blue: #b4e0e5;
$color-peachy-pink: #ff9b86;

// ********** FONT-FAMILY **********
$font-dm-sans: "DM Sans", serif;

// ********* FONT-WEIGHTS *********
$fw-bold: 700;

// ************ VARIABLES ************
$responsive-19px-22px: clamp(
  1.9rem,
  calc(1.9rem + (3 * ((100vw - 32rem) / 55))),
  2.2rem
);

$responsive-28px-33px: clamp(
  2.8rem,
  calc(2.8rem + (5 * ((100vw - 32rem) / 55))),
  3.3rem
);

$responsive-118px-151px: clamp(
  11.8rem,
  calc(11.8rem + (33 * ((100vw - 32rem) / 55))),
  15.1rem
);
